<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021548772618-2khko99q719grbla5fugh57e4st368ed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021548772618-2khko99q719grbla5fugh57e4st368ed</string>
	<key>API_KEY</key>
	<string>AIzaSyDTvfRAMiO9W7j2sIxeRIA1IFOuAwSZt6M</string>
	<key>GCM_SENDER_ID</key>
	<string>1021548772618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatsApp</string>
	<key>PROJECT_ID</key>
	<string>chatsapp-ebe68</string>
	<key>STORAGE_BUCKET</key>
	<string>chatsapp-ebe68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021548772618:ios:6a439c730455159a724ef3</string>
</dict>
</plist>